@{
  Layout = "_Layout";
}

<div class="home">
<h1>Artists!</h1>
<h3><a href='/artists'>View artists</a></h3>
<h3><a href='/artists/new'>Add a new artist</a></h3>
<a href='/records'>See list of records</a>
</div>